In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
os.listdir(os.getcwd())
data=pd.read_csv('Ecommerce Purchases.csv')
data

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [13]:
#** How many rows and columns are there? **

In [3]:
10000 rows Ã— 14 columns

SyntaxError: invalid syntax (<ipython-input-3-4ac28067858a>, line 1)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [ ]:
#** What is the average Purchase Price? **
data['Purchase Price'].sum()//data.groupby("Address").count()

In [ ]:
#** What were the highest and lowest purchase prices? **

In [6]:
data['Purchase Price'].max()

99.99

In [7]:
data['Purchase Price'].min()

0.0

In [8]:
#** How many people have English 'en' as their Language of choice on the website? **

In [30]:
data.groupby('Language').count()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Purchase Price
Language,,,,,,,,,,,,,
de,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155
el,1137,1137,1137,1137,1137,1137,1137,1137,1137,1137,1137,1137,1137
en,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098
es,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095
fr,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097
it,1086,1086,1086,1086,1086,1086,1086,1086,1086,1086,1086,1086,1086
pt,1118,1118,1118,1118,1118,1118,1118,1118,1118,1118,1118,1118,1118
ru,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155
zh,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059

In [23]:
data.groupby('Language')

In [43]:
#** How many people have the job title of "Lawyer" ? **

data.groupby('Job').count()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,IP Address,Language,Purchase Price
Job,,,,,,,,,,,,,
Academic librarian,11,11,11,11,11,11,11,11,11,11,11,11,11
Accommodation manager,17,17,17,17,17,17,17,17,17,17,17,17,17
"Accountant, chartered",20,20,20,20,20,20,20,20,20,20,20,20,20
"Accountant, chartered certified",18,18,18,18,18,18,18,18,18,18,18,18,18
"Accountant, chartered management",15,15,15,15,15,15,15,15,15,15,15,15,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Water quality scientist,18,18,18,18,18,18,18,18,18,18,18,18,18
Web designer,20,20,20,20,20,20,20,20,20,20,20,20,20
Wellsite geologist,24,24,24,24,24,24,24,24,24,24,24,24,24
Writer,10,10,10,10,10,10,10,10,10,10,10,10,10
Youth worker,18,18,18,18,18,18,18,18,18,18,18,18,18

In [46]:

#** How many people made the purchase during the AM and how many people made the purchase during PM ? **
data.groupby('AM or PM').count()

,Address,Lot,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
AM or PM,,,,,,,,,,,,,
AM,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932
PM,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068

In [53]:
data.groupby('AM or PM').sum()

           Credit Card  CC Security Code  Purchase Price
AM or PM
AM        1.163761e+19         4406081.0       247519.87
PM        1.177613e+19         4666097.0       255953.15

In [56]:
x=data.groupby('AM or PM')

In [58]:
x.count()

,Address,Lot,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
AM or PM,,,,,,,,,,,,,
AM,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932
PM,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068

In [59]:
#** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [67]:
data['Credit Card'] == 4926535242672853

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: Credit Card, Length: 10000, dtype: bool

In [88]:
mpg = sns.load_dataset("mpg")

In [92]:

mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [99]:
x=mpg.groupby("model_year")

In [101]:
x.count()

,mpg,cylinders,displacement,horsepower,weight,acceleration,origin,name
model_year,,,,,,,,
70,29,29,29,29,29,29,29,29
71,28,28,28,27,28,28,28,28
72,28,28,28,28,28,28,28,28
73,40,40,40,40,40,40,40,40
74,27,27,27,26,27,27,27,27
75,30,30,30,30,30,30,30,30
76,34,34,34,34,34,34,34,34
77,28,28,28,28,28,28,28,28
78,36,36,36,36,36,36,36,36
79,29,29,29,29,29,29,29,29
80,29,29,29,27,29,29,29,29
81,29,29,29,28,29,29,29,29
82,31,31,31,30,31,31,31,31

In [104]:
tips = sns.load_dataset("tips")

In [105]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [115]:
tips.min()

total_bill      3.07
tip                1
sex           Female
smoker            No
day              Fri
time          Dinner
size               1
dtype: object

In [11]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 
# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 
data = pd.read_csv("/Users/navendrasingh/Downloads/Order-CSV-5.csv") 
# Preview the first 5 lines of the loaded data 
data.head(30)

,Ordered On,Shipment ID,ORDER ITEM ID,Order Id,HSN CODE,Order State,Order Type,FSN,SKU,Product,...,Dispatch After date,Dispatch by date,Form requirement,Tracking ID,Package Length (cm),Package Breadth (cm),Package Height (cm),Package Weight (kg),Ready to Make,With Attachment
0,"Aug 16, 2020",d827a491-404b-45d1-8104-b52d8f76dc03,'11944082129825500,OD119440821298255000,6404aaab,Ready to dispatch,NON_FBF,SHOFPEQNQCHTYD6H,8516629-----10,Bata Casuals For Men Black 10 8516629,...,"Aug 17, 2020 10:01:00","Aug 18, 2020 10:00:00",NaN,FMPP0524935797,15,12,10,0.40,NO,NO
1,"Aug 16, 2020",804e3ac3-757d-452c-b53e-05169e6d8baf,'11944204288098100,OD119442042880981000,6404aaab,Ready to dispatch,NON_FBF,SNDFKQ6ATFCCAJXY,8514339--7,Bata Men Brown Sandals 7 851-4339,...,"Aug 17, 2020 10:01:00","Aug 18, 2020 10:00:00",NaN,FMPP0524947285,15,12,10,0.40,NO,NO
2,"Aug 16, 2020",f2ebce19-0168-4c88-bba2-eb07b7f4e62f,'11944480114877100,OD119444801148771000,6404aaab,Ready to dispatch,NON_FBF,SHOFHV4F5YZD6HAZ,8216982---8,Bata Remo 8216982 Lace Up For Men Black 8 A_Re...,...,"Aug 17, 2020 10:01:00","Aug 18, 2020 10:00:00",NaN,FMPC0836499333,15,12,10,0.40,NO,NO
3,"Aug 17, 2020",722e4c63-fdb9-4088-8118-28da2b8223bc,'11944898361770700,OD119448983617707000,6404aaab,Ready to dispatch,NON_FBF,SHOFCCZFBZEVJTKP,8516217-6,Bata Corporate Loafers Slip On For Men Black 4...,...,"Aug 17, 2020 10:01:00","Aug 18, 2020 10:00:00",NaN,FMPC0835408200,15,12,10,0.40,NO,NO
4,"Aug 17, 2020",40d92cdb-a82e-4fac-b8b2-7f14dcb5a895,'11945014104271300,OD119450141042713000,6404aaab,Ready to dispatch,NON_FBF,SHOFH3US6WFMFFNF,8216986---9,Bata Lace Up For Men Black 9 821-6986,...,"Aug 17, 2020 12:10:07","Aug 18, 2020 10:00:00",NaN,FMPC0835652403,15,12,10,0.40,NO,NO
5,"Aug 17, 2020",142a131a-e3df-4b35-be3e-e44c5498080f,'11945092184164000,OD119450921841640000,6404aaab,Ready to dispatch,NON_FBF,SHOEYFS3S3FDEKFK,8216332------8,Bata Lace Up For Men BLACK 42 653532,...,"Aug 17, 2020 14:20:47","Aug 18, 2020 10:00:00",NaN,FMPC0835766770,15,12,10,0.40,NO,NO
6,"Aug 09, 2020",6ebe6587-5cf3-4c89-bda5-6070203c4cde,'11938482421055601,OD119384824210556000,6404aaab,Ready to dispatch,NON_FBF,SHOFPEQNDHRYCGHW,8516629-------8,Bata Casuals For Men Black 8 8516629,...,"Aug 17, 2020 12:55:48","Aug 18, 2020 10:00:00",NaN,FMPP0524351414,15,12,10,0.40,NO,NO
7,"Aug 17, 2020",bd37ecdd-eeb6-4f4f-a949-27b220e2589b,'11945148150233500,OD119451481502335000,6404aaab,Ready to dispatch,NON_FBF,SHOFCCZKKTRZFDHZ,8516629---------10,Bata Corporate Loafers Slip On For Men Black 4...,...,"Aug 17, 2020 15:54:32","Aug 18, 2020 10:00:00",NaN,2611704397,15,12,10,0.40,NO,NO
8,"Aug 17, 2020",afcc11cf-d621-4728-8469-c6b8ad5a7748,'11945138810322400,OD119451388103224000,6404aaab,Ready to dispatch,NON_FBF,SHOFDY6MHY2J9ZS2,8516629------8,Bata Slip On For Men Black 8 bata-851-6529-sli...,...,"Aug 17, 2020 15:38:24","Aug 18, 2020 10:00:00",NaN,FMPC0835864205,15,12,10,0.40,NO,NO
9,"Aug 17, 2020",9e857513-8145-47d9-8564-b7e2fbc4a4df,'11945222970475200,OD119452229704752000,6404aaab,Ready to dispatch,NON_FBF,SHOFMYSKMBKB7ZFY,8516629---------7,Bata Slip On For Men Black 7 851-6629,...,"Aug 17, 2020 18:00:12","Aug 18, 2020 10:00:00",NaN,5961642558804,15,12,10,0.40,NO,NO
10,"Aug 17, 2020",cb404def-5eb7-451d-b049-d79ddf286809,'11945240717265000,OD119452407172650000,6404aaab,Ready to dispatch,NON_FBF,SHOFZ9ZVETEMEHFA,8216116--8,Bata Derby For Men Black 8 8216116,...,"Aug 17, 2020 18:27:59","Aug 18, 2020 10:00:00",NaN,FMPP0524573868,15,12,10,0.40,NO,NO
11,"Aug 17, 2020",6a1d27aa-8849-4935-8923-9d7777ce375e,'11945252661428200,OD119452526614282000,6404aaab,Ready to dispatch,NON_FBF,SHOEY74N83K4WJE5,8516217-----9,Bata Men's Formal Slip On For Men Black 43 FOR...,...,"Aug 17, 2020 18:47:59","Aug 18, 2020 10:00:00",NaN,FMPC0836031230,15,12,10,0.40,NO,NO
12,"Aug 17, 2020",ddc9b1b5-85ed-4f4d-95e4-5fa51ea00dc5,'11945363618056600,OD119453636180566000,6404aaaa,Ready to dispatch,NON_FBF,SFFFHMZE2QBGZPZU,8779619-7,Bata Slippers Blue 7 FG-24,...,"Aug 17, 2020 21:52:55","Aug 18, 2020 10:00:00",NaN,FMPC0836491837,15,12,10,0.48,NO,NO
13,"Aug 17, 2020",9ea3ee9a-e065-4d70-a707-5a8c97a1e4b0,'11945297216601900,OD119452972166019000,6404aaab,Ready to dispatch,NON_FBF,SHOFZ9ZVQ7URUDVW,8216116--9,Bata Derby For Men Black 9 8216116,...,"Aug 17, 2020 20:02:27","Aug 18, 2020 10:00:00",NaN,FMPC0836053636,15,12,10,0.40,NO,NO
14,"Aug 17, 2020",d830e869-7120-4f6b-87e3-4e6eab7ae2de,'11944987477992100,OD119449874779921000,6404aaab,Ready to dispatch,NON_FBF,SHOFMYSKHWNVZGGH,8516629---------9,Bata Slip On For Men Black 9 851-6629,...,"Aug 17, 2020 11:26:46","Aug 18, 2020 10:00:00",NaN,FMPC0835626645,15,12,10,0.40,NO,NO
15,"Aug 17, 2020",bd38637f-bfb8-4502-8b89-df0e2c027878,'11945370936784700,OD119453709367847000,6404aaab,Ready to dispatch,NON_FBF,SHOFCCZKKTRZFDHZ,8516629---------10,Bata Corporate Loafers Slip On For Men Black 4...,...,"Aug 17, 2020 22:05:24","Aug 18, 2020 10:00:00",NaN,FMPP0524688368,15,12,10,0.40,NO,NO
16,"Aug 17, 2020",610700bc-0fd3-4580-8b16-4c8f0b033ab6,'11945374076101000,OD119453740761010000,6404aaab,Ready to dispatch,NON_FBF,SHOFECVSUQ5WZFH6,8516629-----11,Bata Corporate Loafers Slip On Slip On For Men...,...,"Aug 17, 2020 22:10:30","Aug 18, 2020 10:00:00",NaN,FMPC0836139811,15,12,10,0.48,NO,NO
17,"Aug 17, 2020",ec35fdfd-c3ab-48f9-97b4-790f30deba77,'11945397791130502,OD119453977911305000,6404aaaa,Ready to dispatch,NON_FBF,SFFFHMZE2QBGZPZU,8779619-7,Bata Slippers Blue 7 FG-24,...,"Aug 17, 2020 22:49:50","Aug 18, 2020 10:00:00",NaN,FMPP0524948776,15,12,10,0.48,NO,NO
18,"Aug 17, 2020",ec35fdfd-c3ab-48f9-97b4-790f30deba77,'11945397791130503,OD119453977911305000,6404aaaa,Ready to dispatch,NON_FBF,SFFFHMZEQKTNSYGW,8779619-8,Bata Slippers Blue 8 FG-24,...,"Aug 17, 2020 22:49:50","Aug 18, 2020 10:00:00",NaN,FMPP0524948776,15,12,10,0.48,NO,NO
19,"Aug 17, 2020",58f43b08-b0ff-4125-bd00-5193e3344847,'11945416196776101,OD119454161967761000,6404aaab,Ready to dispatch,NON_FBF,SHOFECFVTMNGRJSY,8216116-----9,Bata Corporate Derby Lace Up Lace Up For Men B...,...,"Aug 17, 2020 23:20:26","Aug 18, 2020 10:00:00",NaN,FMPC0836198252,15,12,10,0.48,NO,NO
20,"Aug 18, 2020",f6188277-0fb2-4392-b3d6-300cd5631231,'11945692948252300,OD119456929482523000,6404aaab,Ready to dispatch,NON_FBF,SHOFMYSKHWNVZGGH,8516629---------9,Bata Slip On For Men Black 9 851-6629,...,"Aug 18, 2020 07:01:58","Aug 18, 2020 10:00:00",NaN,FMPC0836446796,15,12,10,0.40,NO,NO

In [10]:
data.drop(columns=['Style Code','Aisle','Rack No','Weight(gm)','Length(cm)','Breadth(cm)','Height(cm)'])

,Channel SKU Title,SKU Code,Browntape SKU Title,Quantity
0,Bata Slippers Blue 7 FG-24 8779619-7,8779619-7,Bata Slippers (),4.0
1,Bata Corporate Loafers Slip On For Men Black 4...,8516629-10,8516629-10,3.0
2,Bata Slip On For Men Black 9 851-6629 8516629-...,8516629-9,8516629-9,2.0
3,Bata Slip On For Men Black 8 bata-851-6529-sli...,8516629-8,8516629-8,2.0
4,Bata Corporate Derby Lace Up Lace Up For Men B...,8216116-9,8216116-9,2.0
5,Bata Corporate Loafers Slip On For Men Black 4...,8516217-6,8516217-6,1.0
6,Bata Corporate Loafers Slip On Slip On For Men...,8516629-11,8516629-11,1.0
7,Bata Derby For Men Black 8 8216116 8216116--8,8216116-8,8216116-8,1.0
8,Bata Men's Formal Slip On For Men Black 43 FOR...,8516217-9,8516217-9,1.0
9,Bata Slippers Blue 8 FG-24 8779619-8,8779619-8,Bata Slippers (),1.0
10,Bata Lace Up For Men BLACK 42 653532 8216332--...,8216332-8,8216332-8,1.0
11,Bata Men Brown Sandals 7 851-4339 8514339--7,8514339-7,8514339-7,1.0
12,Bata Slip On For Men Black 7 851-6629 8516629-...,8516629-7,8516629-7,1.0
13,Bata Remo 8216982 Lace Up For Men Black 8 A_Re...,8216982-8,8216982-8,1.0
14,Bata Lace Up For Men Black 9 821-6986 8216986---9,8216986-9,8216986-9,1.0
15,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN